{% extends "base.html" %}

{% block app_content %}
    <h1>Erstelle ein neues Karteikartenset</h1>
    <form action="" method="post" class="form">
        {{ form.hidden_tag() }}

        <div class="form-floating mb-3 custom-form-floating">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control", size=32) }}
            {% for error in form.title.errors %}
                <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="mb-3 form-check">
            {{ form.public(class="form-check-input") }}
            {{ form.public.label(class="form-check-label") }}
        </div>

        <p>{{ form.submit(class="btn btn-primary custom-submit-btn") }}</p>
    </form>
{% endblock %}


